<link rel="stylesheet" href="~/css/Student/About1.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

 <div class="card-member">

    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.jpg">
            <div class="info">
                <div class="title">
                    Nguyen Van Thang
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.png">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.png">
            <div class="info">
                <div class="title">
                    Nguyen Quang Ngoc
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/1.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/1.jpg">
            <div class="info">
                <div class="title">
                    Nguyen Hai Viet
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/3.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/3.jpg">
            <div class="info">
                <div class="title">
                    Truong Tan Phuc
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/4.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/4.jpg">
            <div class="info">
                <div class="title">
                    Duong Van Hieu
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/5.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/5.jpg">
            <div class="info">
                <div class="title">
                    Tran Huy Hoang
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/gym.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/gym.jpg">
            <div class="info">
                <div class="title">
                    DUY GYM
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/6.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/6.jpg">
            <div class="info">
                <div class="title">
                    Tran Trung Nguyen
                </div>
                <p>
                    User interface designer and <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>

        </div>
    </div>

</div>