<link rel="stylesheet" href="~/css/Student/About/about.css" />

<img src="~/css/Student/About/banner.png" width="100%" />
<div class="about-topic-content">
    <h3>
        Greenwich University Magazine - One of the UK's Top 10 Largest
        University Publications
    </h3>
    <p>
        Launched in 2023, Greenwich University Magazine provides students and
        faculty with a trusted and timely hub to access official information,
        campus happenings, and news from within the university community.
    </p>
    <p>
        Guided by the belief that seamless information flow is key to fostering
        engagement and connections across campus, we are committed to delivering
        captivating, diverse, and valuable content to all those invested in
        Greenwich University.
    </p>
    <br />
    <a class="findOutMoreButton" href="/">Find out more</a>
</div>
<div class="about-intro-wrapper">
    <div class="about-text-wrapper">
        <div class="about-text-item">
            <h5>Our Mission</h5>
            <p>
                Greenwich University Magazine aims to enrich our campus community by
                fostering connections and engagement through the power of open
                information sharing. We strive to create a platform that brings
                together students, faculty, staff, and alumni, promoting a vibrant
                exchange of ideas, stories, and perspectives that shape the
                Greenwich experience.
            </p>
        </div>
        <div class="about-text-item">
            <h5>Our Position</h5>
            <p>
                Through Greenwich University Magazine, members of the university
                community gain access to a comprehensive digital hub that connects
                them to a diverse array of stories, perspectives, and happenings
                across campus life. We facilitate a seamless experience for
                students, faculty, staff, and alumni to engage with the vibrant
                narratives that shape the Greenwich identity.
            </p>
        </div>
    </div>
    <div class="about-personality-wrapper">
        <h3>Our Principles</h3>
        <p>
            Our principles of Respect and Safety, Responsibility and Independence,
            and Interaction and Engagement shape our character through our words
            and actions, guiding every step of our development journey.
        </p>
        <div class="about-content-wrapper">
            <div class="about-content-1">
                <img src="~/css/Student/About/images/prin1.jpg" width="100%" />
                <h3>Respect and Safety</h3>
                <p>
                    We adhere to regulations, safeguard personal information, and
                    ensure content appropriateness.
                </p>
            </div>
            <div class="about-content-2">
                <img src="~/css/Student/About/images/prin2.jpg" width="100%" />
                <h3>Responsibility and Independence</h3>
                <p>
                    We encourage diverse opinions while ensuring authenticity and
                    avoiding offense.
                </p>
            </div>
            <div class="about-content-3">
                <img src="~/css/Student/About/images/together.png" width="100%" />
                <h3>Interaction and Engagement</h3>
                <p>
                    We foster our participation through article submissions, comments,
                    and information sharing to build a positive community.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about-team-wrapper">
    <h3 class="about-team-title">Our Team</h3>
    <hr>
    <br>
    <div class="about-team-cards">
        <div class="team-card1">
            <img src="~/css/Student/About/teams/duy.png" />
            <h2>
                Tra Quang Duy</h3>
                <h3>Product Owner</h3>
        </div>
        <div class="team-card2">
            <img src="~/css/Student/About/teams/hieu.png" />
            <h2>
                Duong Van Hieu</h3>
                <h3>Full-Stack Developer</h3>
        </div>
        <div class="team-card3">
            <img src="~/css/Student/About/teams/hoang.png" />
            <h2>
                Tran Huy Hoang</h3>
                <h3>Full-Stack Developer</h3>
        </div>
        <div class="team-card4">
            <img src="~/css/Student/About/teams/ngoc.png" />
            <h2>
                Nguyen Quang Ngoc</h3>
                <h3>Scrum Master</h3>
        </div>
        <div class="team-card5">
            <img src="~/css/Student/About/teams/nguyen.png" />
            <h2>
                Tran Trung Nguyen</h3>
                <h3>Full-Stack Developer</h3>
        </div>
        <div class="team-card6">
            <img src="~/css/Student/About/teams/phuc.png" />
            <h2>
                Truong Tan Phuc</h3>
                <h3>Full-Stack Developer</h3>
        </div>
        <div class="team-card7">
            <img src="~/css/Student/About/teams/thang.png" />
            <h2>
                Nguyen Van Thang</h3>
                <h3>Full-Stack Developer</h3>
        </div>
        <div class="team-card8">
            <img src="~/css/Student/About/teams/viet.png" />
            <h2>
                Nguyen Hai Viet</h3>
                <h3>Full-Stack Developer</h3>
        </div>
    </div>
    <a class="findOutMoreButton" asp-area="Student" asp-controller="Home" asp-action="Contact">Contact Us</a>
</div>