<link rel="stylesheet" href="~/css/Student/Contact.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

 <div class="card-member">

    
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.png">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.png">
            <div class="info">
                <div class="title">
                    Nguyen Quang Ngoc
                </div>
                <p>
                    Scrum Master <br>Leader
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/nqn.07012002"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/qngoc07012002"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/8.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/8.jpg">
            <div class="info">
                <div class="title">
                    Tra Quang Duy
                </div>
                <p>
                    Product Owner <br>The Product Owner (PO) is the person primarily responsible for understanding customer needs and ensuring product development meets these needs.
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/Erictra404"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/EricTra"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.jpg">
            <div class="info">
                <div class="title">
                    Nguyen Van Thang
                </div>
                <p>
                    DEV <br>Front-end and Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100050628639119"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/NguyenVanThangzzzz"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
   
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/9.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/9.jpg">
            <div class="info">
                <div class="title">
                    Truong Tan Phuc
                </div>
                <p>
                    DEV <br>Front-end and Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/TTP.120503"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/phuccan0800"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/4.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/4.jpg">
            <div class="info">
                <div class="title">
                    Duong Van Hieu
                </div>
                <p>
                    DEV <br>Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100034560009684"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/hieucodegioi"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/5.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/5.jpg">
            <div class="info">
                <div class="title">
                    Tran Huy Hoang
                </div>
                <p>
                    DEV <br>Front-end and Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/hoangtrn16"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/PainnIrene"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/1.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/1.jpg">
            <div class="info">
                <div class="title">
                    Nguyen Hai Viet
                </div>
                <p>
                    DEV <br>Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/viet.nguyenhai.98229"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/Ghauol123"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/6.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/6.jpg">
            <div class="info">
                <div class="title">
                    Tran Trung Nguyen
                </div>
                <p>
                    DEV <br>Back-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100007699928659"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/nguyentranazz123"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>

        </div>
    </div>

</div>