<link rel="stylesheet" href="~/css/Student/About.css" />
<section>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/Layout/user-logo.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Làm Hết</p>
        </div>
    </div>
</section>