<link rel="stylesheet" href="~/css/Student/About.css" />
<section>
    <div class="team-member">
        <img src="~/img/DevTeam/2.png" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Quang Ngọc</h3>
            <p>Vai trò: Su phu so co rum</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/gym.jpg" alt="Member 1">
        <div class="member-info">
            <h3>Trà Quang Duy</h3>
            <p>Vai trò: Chủ Sản Phẩm</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/2.jpg"  alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Văn Thắng</h3>
            <p>Vai trò: Dev</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/1.jpg" alt="Member 1">
        <div class="member-info">
            <h3>Nguyễn Hải Việt</h3>
            <p>Vai trò: Dev</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/3.jpg" alt="Member 1">
        <div class="member-info">
            <h3>Trương Tấn Phúc</h3>
            <p>Vai trò: Dev</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/5.jpg" alt="Member 1">
        <div class="member-info">
            <h3>Trần Huy Hoàng</h3>
            <p>Vai trò: Dev</p>
        </div>
    </div>
    <div class="team-member">
        <img src="~/img/DevTeam/4.jpg" alt="Member 1">
        <div class="member-info">
            <h3>Hồ Quang Hiếu</h3>
            <p>Vai trò: Dev</p>
        </div>
    </div>
</section>