<link rel="stylesheet" href="~/css/Student/Contact.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="contact-team">
    <div class="box-contact">
        <h1>Introducing Group Members</h1>
        <h4>
            <br /> Within the trio of this software development team, there's a harmonious blend of skills and roles.
            With a dedicated Scrum Master, he's not just a guide and educator but also shapes the strategy and manages
            the Scrum process professionally. He serves as a solid anchor for the team, ensuring that the development
            process flows smoothly and efficiently.
            <br />
            <br /> Alongside him, there's a creative Product Owner, carrying a strategic vision for the product and
            exceptional communication skills. Focused on customer needs and market demands, this Product Owner shapes
            the project's development direction and ensures that the final product meets all expectations and
            requirements.
            <br />
            <br /> In addition, the team comprises five developers with diverse and deep technical skills. Each member
            contributes to the development process by demonstrating dedication and expertise. They're not just
            outstanding developers but also excellent teammates, always ready to support each other and collaborate to
            overcome any challenges.
            <br />
            <br /> With this combination, the team not only has the ability to develop products rapidly but also ensures
            that the final product is of high quality, maximizing customer needs and desires.
        </h4>
    </div>
</div>

<div class="card-member">

    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.jpg">
            <div class="info">
                <div class="title">
                   Nguyen Van Thang
                </div>
                <p>
                    Full-Stack Developer <br>Programmers use .NET MVC to build powerful and flexible web applications on the Microsoft platform.NET Framework, developers can leverage the power of this technology to develop high-quality web applications that quickly respond to user requests.
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100050628639119" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/NguyenVanThangzzzz" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/2.png">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/2.png">
            <div class="info">
                <div class="title">
                    Nguyen Quang Ngoc
                </div>
                <p>
                    Scrum Master <br>The Scrum Master is the leader and facilitator in the Scrum implementation process. They often organize daily stand-ups, Sprint Planning, Sprint Review and Sprint Retrospective events to ensure that everyone clearly understands the Sprint goals and commitments.
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/nqn.07012002" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/qngoc07012002" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/8.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/8.jpg">
            <div class="info">
                <div class="title">
                    Tra Quang Duy
                </div>
                <p>
                    Product Owner <br>The Product Owner is the person representing the customer or end user, responsible for determining and managing product requirements. The Product Owner also often participates in Sprint Planning and Sprint Review meetings to ensure that the Sprint goals are clearly understood and to ensure that the product meets customer requirements.
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/Erictra404" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/EricTra" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/9.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/9.jpg">
            <div class="info">
                <div class="title">
                    Truong Tan Phuc
                </div>
                <p>
                    Full-Stack Developer <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/TTP.120503" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/phuccan0800" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/4.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/4.jpg">
            <div class="info">
                <div class="title">
                    Duong Van Hieu
                </div>
                <p>
                    Full-Stack Developer <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100034560009684" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/hieucodegioi" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/1.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/1.jpg">
            <div class="info">
                <div class="title">
                    Nguyen Hai Viet
                </div>
                <p>
                    Full-Stack Developer <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/viet.nguyenhai.98229" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/Ghauol123" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/5.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/5.jpg">
            <div class="info">
                <div class="title">
                    Tran Huy Hoang
                </div>
                <p>
                    Full-Stack Developer <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/hoangtrn16" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/PainnIrene" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="card front-face">
            <img src="~/img/DevTeam/6.jpg">
        </div>
        <div class="card back-face">
            <img src="~/img/DevTeam/6.jpg">
            <div class="info">
                <div class="title">
                    Tran Nguyen
                </div>
                <p>
                    Full-Stack Developer <br>front-end developer
                </p>
            </div>
            <ul>
                <a href="https://www.facebook.com/profile.php?id=100007699928659" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/nguyentranazz123" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-stack-overflow"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </ul>

        </div>
    </div>

</div>