@model IEnumerable<Article>

<link rel="stylesheet" href="~/css/Student/Home.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
<html>

<body>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 5</div>
            <img src="~/img/Home/4.png" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 5</div>
            <img src="~/img/Home/2.jpg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 5</div>
            <img src="~/img/Home/3.jpg" style="width:100%">

        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 5</div>
            <img src="~/img/Home/1.jpg" style="width:100%">

        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 5</div>
            <img src="~/img/Home/3.jpg" style="width:100%">

        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
    </div>

    <div class=" row pb-3">
        @foreach (var article in Model)
        {
            <div class="clo-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="@article.imgUrl" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <div class="pd-1">
                                    <p class="card-title h5 text-warning text-center"><b>@article.Magazines</b></p>

                                </div>
                                <div class="pd-1">
                                    <p class="card-title h5 text-drak opacity-75 text-uppercase text-center">@article.Title</p>

                                </div>
                                <div class="pd-1">
                                    <p class="card-title h5 text-drak opacity-75 text-uppercase text-center">@article.SubTitle</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>








    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>

</body>
</html>




