GreenwichUniversityMagazine/bin
GreenwichUniversityMagazine/obj
GreenwichUniversityMagazine/.vs/
GreenwichUniversityMagazine/Migrations
GreenwichUniversityMagazine.Tests/bin
GreenwichUniversityMagazine.Tests/obj
GreenwichUniversityMagazine.Tests/.vs/
