.container-main {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 300px auto 600px;
}

body {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    color: #333333;
    line-height: 28px;
    height: 100%;
    display:grid;
}
  h1,
  h2,
  h3 {
    margin: 1px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

.main-content {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
    width: 54%;
    float: left;
    margin-left: 230px;
    
}
.main-content .article{
    width: 1000px;
    margin-bottom:100px;
    overflow-wrap: break-word;

}

.main-content .article .userImg>img{
   height:50px;
   width:50px;
   float:left;
   border-radius:30px;
}
.main-content .article .userName{
    display: table-cell; /* Important */ 
    vertical-align: middle; /* Important */ 
    padding-left:15px;
    width: auto;
    height: 50px;
    
    
}

.main-content .post{
    width: 95%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    background: white;
    background-size: cover;
}

.main-content .post .post-content{
    width: 98%;
    padding: 10px;
}
    .main-content .post .post-image {
        display: flex;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }
.main-content .recent-post-title{
    color:#01013e;
    line-height:40px;
}
.main-content .subTitle{
    font-style:oblique;
}
.sidebar{
    margin: 10px;
    margin-left:26px;
    width: 340px;
    float:left;
    height: auto;
    z-index:1;
}

    .sidebar .sidebar-image {
        display:flex;
        width: 200px;
        height: auto;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
        justify-content:center;
    }
    .sidebar .form-inline {
        width:339px;
        margin-top:30px;
    }
input{
    width:219px;
    height:35px;
    border-radius:5px;
    outline:none;
    padding:0 25px;
}
button {
    color:#fff;
    position: relative;
    cursor: pointer;
    height: 39px;
    border-radius: 5px;
    background-color: #01013e;
}
    
.sidebar .form-inline .input-group {
    
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

    /*    .content .sidebar .search-button {
        width: 320px;
        height: 30px;
        display: block;
        text-align: center;
        justify-content: center;
        
        margin-bottom: 20px;
        outline: 0;
    }

.search-form {
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

form > #searchInput {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 98%;
    height: 30px;
    outline: 0;
    line-height: 42px;
    
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}*/
    .sidebar .sidebar-title {
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
        height: auto;
        background-color: #01013e;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 0.5em;
        border: 0.5px solid black;
        font-size: 15px;
    }
    .sidebar .select-article {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
    }
.sidebar .select-article > select {
            width: 100%;
            background: #fff;
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.5px solid #2a2f3b;
            padding: 1em;
            border-radius: 0.5em;
            cursor: pointer;
            transition: background 0.3s;
        }        

.select:hover {
    background: #323741;
}        
    .clearfix {
        content: '';
        display: flex;
        clear: both;
    }

.body-container {
    margin: 50px;
    margin-bottom: 200px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
}


.comment-container{
    grid-column:1/4;
    display:grid;
    align-items:center;
    justify-content:center;
}
.comment {
    margin-bottom: 20px;
}

.comment-header {
    font-weight: bold;
}

.comment-body {
    margin-top: 5px;
}


.comment-private {
    display: grid;
    grid-template-columns: 60px 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    width: 800px;
    height: auto;
    border-radius: 8px;
    z-index: 1;
    
}

.avatar-user {
    margin-top: 21px;
    width: 50px; /* Điều chỉnh kích thước của avatar */
    height: 50px;
    border-radius: 50%; /* Làm cho hình ảnh tròn */
    overflow: hidden; /* Đảm bảo hình ảnh không bị tràn ra ngoài vùng chứa */
    margin-left:10px;
}

.avatar-coordinate-img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy vùng chứa */
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi thu nhỏ */
    
}


.comment-content {
    flex: 1; /* Chia phần còn lại của ô comment */
    padding: 10px; /* Thêm padding cho nội dung comment */
    display:block;
}
.card__content{
    overflow-wrap:break-word;
}
/* Comment Reply */
.comment-input {
    margin-bottom: 20px;
}

    .comment-input textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical; /* Cho phép điều chỉnh kích thước theo chiều dọc */
        box-sizing: border-box; /* Đảm bảo kích thước của textarea không bị thay đổi khi thêm border và padding */
    }

    .comment-input button {
        padding: 10px 20px;
        background-color: #007bff; /* Màu nút */
        color: #fff; /* Màu chữ */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền nút */
        float:left;
    }

.comment-input button:hover {
    background-color: #0056b3; /* Màu nền khi di chuột qua */
}
.comment-form{
    width:800px;
}
.comment-value{

}