body {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    color: #333333;
    line-height: 28px;
    height: 100%;
    display:block;
}
  h1,
  h2,
  h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

.content {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px auto 30px;
    align-items: center;
    justify-content: center;
    
}
    .content .main-content {
        margin: 10px;
        width: 54%;
        float: left;
        margin-left: 230px;
    }
.content .main-content .article{
    margin-bottom:100px;
}

.content .main-content .article .userImg>img{
   height:50px;
   width:50px;
   float:left;
   border-radius:30px;
}
.content .main-content .article .userName{
    display: table-cell; /* Important */ 
    vertical-align: middle; /* Important */ 
    padding-left:15px;
    width: auto;
    height: 50px;
    
    
}

.content .main-content .post{
    width: 95%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    background: white;
    background-size: cover;
}

.content .main-content .post .post-content{
    width: 98%;
    padding: 10px;
}
    .content .main-content .post .post-image {
        display: flex;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }
.content .main-content .recent-post-title{
    color:#01013e;
    line-height:40px;
}
.content .main-content .subTitle{
    font-style:oblique;
}
.content .sidebar{
    margin: 10px;
    margin-left:60px;
    width: 340px;
    float: left;
    position:relative;
    height: auto;
}

    .content .sidebar .sidebar-image {
        display:flex;
        width: 200px;
        height: auto;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
        justify-content:center;
    }
    .content .sidebar .search-button {
        width: 335px;
        height: 30px;
        display: block;
        text-align: center;
        justify-content: center;
        
        margin-bottom: 20px;
        outline: 0;
    }
form > #myInput {
    outline: 0;
    background-color: #FFF;
}
form {
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
form > #myInput {
    width: 100%;
    height: 100%;
    outline: 0;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
    .content .sidebar .sidebar-title {
        width: auto;
        height: auto;
        background-color: #01013e;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 0.5em;
        border: 0.5px solid black;
        font-size: 15px;
    }
    .content .sidebar .select-article {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        .content .sidebar .select-article > select {
            width: 100%;
            background: #fff;
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0.5px solid #2a2f3b;
            padding: 1em;
            border-radius: 0.5em;
            cursor: pointer;
            transition: background 0.3s;
        }
        .select:hover{
            background:#323741;
        }
    .clearfix {
        content: '';
        display: block;
        clear: both;
    }

.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.comment-box, .comment-list {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px #0002;
}

.comment-session {
    width: 650px;
    height: auto;
    margin-bottom: 12px;
}

.comment-list .user {
    display: flex;
    padding: 8px;
    overflow: hidden;
}

    .comment-list .user img {
        height: 38px;
        width: 38px;
        border-radius: 50%;
        margin-right: 10px;
    }

.comment-list .name {
    text-transform: uppercase;
    font-weight: 600;
}

.comment-list .day {
    font-size: 12px;
}

.reply {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    color: #777;
    gap: 5px;
}

    .icon:hover {
        color: #000;
        cursor: pointer;
    }

.post-comment .comment {
    padding: 0 0 15px 58px;
}

.comment-box {
    padding: 10px;
    overflow: hidden;
}

    .comment-box .user {
        display: flex;
        width: min-content;
    }

    .comment-box .image img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .comment-box textarea {
        background: #eee;
        width: -webkit-fill-avalable;
        height: 152px;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 0 0.5px #0003;
    }

        .comment-box textarea:focus {
            outline-color: #009cff;
        }

    .comment-box .comment-submit {
        float: right;
        padding: 6px 14px;
        border: none;
        background: #009cff;
        color: #fff;
        cursor: pointer;
        border-radius: 2px;
    }

        .comment-box .comment-submit:hover {
            background: #027ecc;
        }
