.card-img {
   
    border-radius: 0.7em;
    max-width: 100%;
    max-height: 100%;
    
   
}
.card {
    max-width: 740px;
    max-height: 100%;
}






.homepage {
    z-index: 1;
}

.fixed-col-size {
    max-width: 150px; /* Định cỡ chiều rộng tuyệt đối */
    height: 100%; /* Giữ chiều cao tự động */
}




.fixed-size-img {
    width: 100%; /* Đảm bảo rằng hình ảnh sẽ điền vào phần đầu tiên của cha */
    height: auto; /* Đảm bảo tỷ lệ khung hình bị thay đổi tùy thuộc vào chiều rộng */
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container cha */
    object-fit: cover; /* Đảm bảo hình ảnh được hiển thị mà không bị vỡ */
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.pagination {
    display: flex;
    justify-content: center;
}

    .pagination .page-item {
        margin: 0 5px;
    }



.card-left {
    transition: transform 0.3s ease;
}

.card-img-custom {
    width: 100%; /* Đặt chiều rộng của ảnh là 100% của phần tử cha */
    height: 50%; /* Để giữ tỷ lệ khung hình */
}


.card-left:hover {
    transform: scale(1.05);
}
