.main-container {
    display: flex;
    width: 80%;
    margin: 0 auto; 
    padding-left: 150px;
    
 }

.content {
    width: 60%; 
}

.sidebar {
    width: 40%; 
    margin-left: 80px; 
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.card-1 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.card-image-1 {
    width: 40%;
}
.card-image-1 img {
        min-height: 100%;
        width: 100%;
        max-height: 200px;
        object-fit: cover;
     
}

.card-text-1 {
    width: 60%;
    padding: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        width: 100%; /* Thiết lập chiều rộng cho main-container khi ở chế độ responsive */
        padding-left: 0; /* Xóa padding trái cho main-container khi ở chế độ responsive */
    }

    .sidebar {
        width: 100%;
        margin-left: 0;
    }

    .content,
    .sidebar {
        padding: 10px; /* Thêm padding cho content và sidebar khi ở chế độ responsive */
    }

    .card-container {
        padding-top: 10px; /* Thêm padding trên cho card-container khi ở chế độ responsive */
    }

    .card-1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card-image-1,
    .card-text-1 {
        width: 100%;
        border-top-left-radius: 0; /* Loại bỏ border-radius cho phần trên trái của card khi ở chế độ responsive */
        border-top-right-radius: 0; /* Loại bỏ border-radius cho phần trên phải của card khi ở chế độ responsive */
    }

    .custom-select select,
    .search-container input[type="text"] {
        width: 100%; /* Phóng to thanh select và input ra toàn bộ chiều rộng của container khi ở chế độ responsive */
    }

    .search-container i {
        margin-bottom: 10px; /* Giảm khoảng cách dưới cho icon trong search-container khi ở chế độ responsive */
    }
    .viewbag {
        padding-left: 10px; /* Thay đổi padding khi ở chế độ responsive */
    }
}

@media screen and (max-width: 600px) {
    .card-text-1 {
        width: 100%; /* Thiết lập chiều rộng cho card-text-1 là 100% khi ở chế độ responsive */
    }
}


.custom-select {
    margin-bottom: 50px; 
    
}
.custom-select select {
        width: 50%; /* Phóng to thanh select ra toàn bộ chiều rộng của container */
        padding: 8px; /* Khoảng cách trong nội dung */
        font-size: 16px; /* Kích thước chữ */
        border: 1px solid #ccc; /* Đường viền */
        border-radius: 5px; /* Bo tròn góc */
        background-color: white; /* Màu nền */
        appearance: none; /* Loại bỏ giao diện mặc định của select */
        outline: none; /* Loại bỏ đường viền khi focus */
        cursor: pointer; /* Chỉ định con trỏ khi di chuột qua */
}

.search-container input[type="text"] {
    width: 70%; 
    padding: 8px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.search-container i {
    font-size: 18px;
    margin-bottom: 30px;
}

.search-container button {
    padding: 8px; 
    font-size: 16px;
    border: none; 
    background: none; 
    cursor: pointer; 
}

.search-container button:hover {
        color: #555; 
}

.home-product-pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    margin-top: 20px; /* Khoảng cách giữa phân trang và nội dung */
    padding-bottom: 70px;
}


.pagination-item {
    display: inline-block;
    margin: 0 5px;
}

.pagination-item-link {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
}

.pagination-item-link:hover {
    background-color: #ccc;
}

.pagination-item--active .pagination-item-link {
    background-color: #333;
    color: #fff;
}

.pagination-previous,
.pagination-next {
    padding: 8px 16px;
    margin: 0 10px; /* Khoảng cách giữa các nút phân trang */
}




