<link rel="stylesheet" href="~/css/Student/editprofile.css">
<partial name="_NotificationJS"/>
<div class="body_editprofile">
    <form class="editprofile-form" action="#" method="post" enctype="multipart/form-data" id="profileForm">
        <h2>Change Password</h2>
        
        <label for="name">Current Password:</label>
        <input type="password" name="currentPassword" required>

        <label for="code">New Password:</label>
        <input type="password" name="newPassword" required>

        <label for="dob">Confirm Password:</label>
        <input type="password" name="confirmNewPassword" required>

        <input type="submit" value="Save">
    </form>
</div>
