<link rel="stylesheet" href="~/css/Manager/Overview.css" />
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
        <h1>Search bar</h1>
        <div class="sorting-items"></div>
    </div>
    <div class="div2">
        <h3 class="chart-name">Total Contributions for each Terms</h3>
        <canvas id="LineChartTotalContributions"
                style="width: 100%"></canvas>
    </div>
    <div class="exception-doughnut-container">
        <h3 class="chart-name">Contribution rate and exceptions</h3>
        <canvas id="exception-doughnut-chart" style="width:100%;height:80%"></canvas>
    </div>
    <div class="div4">
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-contributions-title">16.000</h1>
                <h4>Contributions</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/contributions.png"/>
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-comment-title">100.000+</h1>
                <h4>Comments</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/comments.png" />
            </div>
        </div> <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-exceptions-title">16.000</h1>
                <h4>Exceptions</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/exception.png" />
            </div>
        </div>
    </div>
    <div class="div5">
        <h3 class="chart-name">Total contributors of each Faculties</h3>
        <canvas id="GroupBarChartContributers"
                style="width: 611px; max-width: 611px"></canvas>
    </div>
    <div class="div6">
        <h3 class="chart-name">Total contributions of each Faculties</h3>
        <canvas id="LineChartContributions"
                style="width: 100%"></canvas>
    </div>
    <div class="dashboard-sidebar">
        <a href="/">
            <img src="~/css/Manager/home.svg" />
            <h4>Home</h4>
        </a>
        <a href="/">
            <img src="~/css/Manager/overview.svg" />
            <h4>Overview</h4>
        </a>
        <a href="/">
            <img src="~/css/Manager/term.svg" />
            <h4>Terms</h4>
        </a>
        <a href="/">
            <img src="~/css/Manager/exception.svg" />
            <h4>Exception</h4>
        </a>
    </div>
    <div class="div8">
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-students-title">16.000</h1>
                <h4>Students</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/student.png" />
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-contributors-title">16.000</h1>
                <h4>Contributors</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/contributors.png" />
            </div>
        </div>  <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-faculties-title">16.000</h1>
                <h4>Faculty</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/faculty.png" />
            </div>
        </div>
    </div>
    <div class="div9">
        <h3 class="chart-name">Contributors Distribution by Faculties</h3>
        <canvas id="StackedBarChartContributions"
                style="width: 611px; max-width: 611px"></canvas>
    </div>
    <div class="div10">
        <h3 class="chart-name">Pie Chart</h3>
        <canvas id="exception-doughnut-chart2" style="width:100%;height:80%"></canvas>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* Chart 1 *@

<script>
    var chrt = document
        .getElementById("exception-doughnut-chart")
        .getContext("2d");
    var chartId = new Chart(chrt, {
        type: "doughnut",
        data: {
            labels: [
                "HTML",
                "CSS",
                "JAVASCRIPT",
                "CHART.JS",
                "JQUERY",
                "BOOTSTRP",
            ],
            datasets: [
                {
                    label: "online tutorial subjects",
                    data: [20, 40, 13, 35, 20, 38],
                    backgroundColor: [
                        "yellow",
                        "aqua",
                        "pink",
                        "lightgreen",
                        "gold",
                        "lightblue",
                    ],
                    hoverOffset: 5,
                },
            ],
        },
        options: {
            responsive: false,
            legend: {
                display: true,
                position: "bottom",
            },
        },
    });
</script>
<script>
    var chrt = document
        .getElementById("exception-doughnut-chart2")
        .getContext("2d");
    var chartId = new Chart(chrt, {
        type: "pie",
        data: {
            labels: [
                "HTML",
                "CSS",
                "JAVASCRIPT",
                "CHART.JS",
                "JQUERY",
                "BOOTSTRP",
            ],
            datasets: [
                {
                    label: "online tutorial subjects",
                    data: [20, 40, 13, 35, 20, 38],
                    backgroundColor: [
                        "yellow",
                        "aqua",
                        "pink",
                        "lightgreen",
                        "gold",
                        "lightblue",
                    ],
                    hoverOffset: 5,
                },
            ],
        },
        options: {
            responsive: false,
            legend: {
                display: true,
                position: "top",
            },
        },
    });
</script>
<script>
    $(document).ready(function () {
        // End Point
        $.ajax({
            url: "/Manager/Dashboard/GetDataCountTotalContributions",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var ctx = document.getElementById("LineChartTotalContributions").getContext("2d");
                var gradient = ctx.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, '#e4f3d3');
                gradient.addColorStop(1, '#5ca9e9');
                var LineChartTotalContributions_labels = data.listTerms;
                new Chart("LineChartTotalContributions", {
                    type: "line",
                    data: {
                        labels: LineChartTotalContributions_labels,
                        datasets: [
                            {

                                backgroundColor: gradient,
                                borderColor: gradient,
                                borderWidth: 2,
                                data: data.listContributions,
                                label:"Contributions"
                            },
                        ],
                    },
                    options: {
                        responsive:false,
                        legend: { display:false, },
                        tension:{

                        }
                    },
                });
            },
            error: function (xhr, status, err) {
                console.error("Err fetching End Point 1: ", xhr.responseText);
            },
        });
    });
</script>
    @* Chart 1 *@


@* Chart 2 *@

<script>
    $(document).ready(function () {
        // End Point
        $.ajax({
            url: "/Manager/Dashboard/GetMultipleLineChartData",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var LineChartContributions_labels = data.listTerms;
                // var borderColors = [
                //     "red", "blue", "green", "yellow", "orange", "purple", "cyan", "magenta",
                //     "brown", "lime", "pink", "teal", "lavender", "maroon", "olive", "navy",
                //     "aquamarine", "turquoise", "gold", "silver"
                // ];
                var borderColors = ["#FF5733", "#33FF57", "#3366FF", "#FF33A1", "#A133FF", "#33FFFF", "#FFD933", "#FF3366", "#33FFD9", "#9933FF"];
                var dataSets = [];

                for (var i = 0; i < data.chartData.length; i++) {
                    var setData = {
                        label: data.chartData[i].facultyName,
                        data: data.chartData[i].contributions,
                        borderColor: borderColors[i],
                        fill: false
                    };
                    dataSets.push(setData);
                }
        new Chart("LineChartContributions", {
            type: "line",
            data: {
                labels: LineChartContributions_labels,
                datasets: dataSets,
            },
            options: {
                legend: { position: "bottom" },
                title: {
                    display: false,
                },
            },
        });
            },
            error: function (xhr, status, err) {
                console.error("Err fetching End Point 1: ", xhr.responseText);
            },
        });
    });
  </script>
  @* Chart 4 *@
@* <script>
    var myChart = new Chart("StackedBarChartContributions", {
        type: "bar",
        data: {
            labels: ["bike", "car", "scooter", "truck", "auto", "Bus"],
            datasets: [
                {
                    label: "worst",
                    backgroundColor: "blue",
                    data: [0.25, 1, 0.2],
                },
                {
                    label: "Okay",
                    backgroundColor: "green",
                    data: [0.25, 0, 0.3],
                },
                {
                    label: "bad",
                    backgroundColor: "red",
                    data: [0.5, 0, 0.5],
                },
            ],
        },
        options: {
            responsive: false,
            legend: {
                position: "bottom", // place legend on the right side of chart
            },
            scales: {
                xAxes: [
                    {
                        stacked: true, // this should be set to make the bars stacked
                    },
                ],
                yAxes: [
                    {
                        stacked: true, // this also..
                    },
                ],
            },
        },
    });</script> *@
<script>
    $(document).ready(function () {
        // End Point
        $.ajax({
            url: "/Manager/Dashboard/GetStackBarChartContributions",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var StackedBarChartContributions_labels = data.listTerms;
                var borderColors = [
                    "red", "blue", "green", "yellow", "orange", "purple", "cyan", "magenta",
                    "brown", "lime", "pink", "teal", "lavender", "maroon", "olive", "navy",
                    "aquamarine", "turquoise", "gold", "silver"
                ];
                var dataSets = [];

                for (var i = 0; i < data.chartData.length; i++) {
                    var setData = {
                        label: data.chartData[i].facultyName,
                        data: data.chartData[i].contributions,
                        backgroundColor: borderColors[i],
                        fill: false
                    };
                    dataSets.push(setData);
                }
                new Chart("StackedBarChartContributions", {
                    type: "bar",
                    data: {
                        labels: StackedBarChartContributions_labels,
                        datasets: dataSets,
                    },
                    options: {
                        responsive: false,
                        legend: {
                            position: "bottom", // place legend on the right side of chart
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: true, // this should be set to make the bars stacked
                                },
                            ],
                            yAxes: [
                                {
                                    stacked: true, // this also..
                                },
                            ],
                        },
                    },
                });
            },
            error: function (xhr, status, err) {
                console.error("Err fetching End Point 1: ", xhr.responseText);
            },
        });
    });
</script>
    @* Chart 3 *@
<script>
    $(document).ready(function () {
        // End Point
        $.ajax({
            url: "/Manager/Dashboard/GetGroupBarChart",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var GroupBarChartContributers_labels = data.listTerms;
                var borderColors = [
                    "red", "blue", "green", "yellow", "orange", "purple", "cyan", "magenta",
                    "brown", "lime", "pink", "teal", "lavender", "maroon", "olive", "navy",
                    "aquamarine", "turquoise", "gold", "silver"
                ];
                var dataSets = [];

                for (var i = 0; i < data.chartData.length; i++) {
                    var setData = {
                        label: data.chartData[i].facultyName,
                        data: data.chartData[i].contributors,
                        backgroundColor: borderColors[i],
                        fill: false
                    };
                    dataSets.push(setData);
                }
                new Chart("GroupBarChartContributers", {
                    type: "bar",
                    data: {
                        labels: GroupBarChartContributers_labels,
                        datasets: dataSets,
                    },
                    options: {
                        responsive: false,
                        legend: {
                            position: "bottom", // place legend on the right side of chart
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: false, // this should be set to make the bars stacked
                                },
                            ],
                            yAxes: [
                                {
                                    stacked: false, // this also..
                                },
                            ],
                        },
                    },
                });
            },
            error: function (xhr, status, err) {
                console.error("Err fetching End Point 1: ", xhr.responseText);
            },
        });
    });
 </script>
