.dashboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(11, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    height: 100%;
    background-color: #e3e3e3;
    padding-right: 20px;
    padding-bottom: 20px;
}

    .dashboard > div {
        border-radius: 15px;
        padding: 10px;
        align-content: center;
        background-color: white;
    }

.dashboard-header {
    grid-area: 1 / 2 / 3 / 8;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.dashboard-header-title {
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(98, 207, 244), rgb(44, 103, 242));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-background-image {
    position: absolute;
    z-index: -1;
    top: -120px;
    left: 0;
    width: 100%;
    height: 500px;
    filter: grayscale(80%);
    transition: 1s;
    cursor: pointer;
}

.dashboard-header:hover .header-background-image {
    transform: scale(1.2);
    filter: grayscale(0);
}


.dashboard-header > h1 {
    text-align: center;
}

.div2 {
    grid-area: 3 / 5 / 6 / 8;
}

.exception-doughnut-container {
    grid-area: 3 / 3 / 6 / 5;
}

.div4 {
    grid-area: 3 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 0px !important;
    grid-row-gap: 20px;
    background-color: #e3e3e3 !important;
}

    .div4 > div {
        border-radius: 15px;
        padding: 10px;
        align-content: center;
        background-color: white;
    }

.div5 {
    grid-area: 6 / 5 / 9 / 8;
}

.div6 {
    grid-area: 6 / 2 / 9 / 5;
}

/*Side Bar*/

.dashboard-sidebar {
    padding: 0 !important;
    grid-area: 1 / 1 / 12 / 2;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

    .dashboard-sidebar > a {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .dashboard-sidebar a:hover {
        background-color: #696969;
    }

    .dashboard-sidebar > a > img {
        margin-left: 20px;
        width: 24px;
    }
/*Side Bar*/
.div8 {
    grid-area: 9 / 2 / 12 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    padding: 0px !important;
    background-color: #e3e3e3 !important;
}

    .div8 > div {
        border-radius: 15px;
        padding: 10px;
        align-content: center;
        background-color: white;
    }

.div9 {
    grid-area: 9 / 3 / 12 / 6;
}

.div10 {
    grid-area: 9 / 6 / 12 / 8;
}

.widget-contributions {
}


.child2 {
}

.child3 {
}

.widget-container {
    display: flex;
    transition: all .2s ease-in-out;
}

    .widget-container:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: scale(1.1);
        cursor: pointer;
    }

.widget-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

    .widget-data > h1 {
        font-size: 30px;
        color: blue;
        margin: 0;
    }

    .widget-data > h4 {
        color: grey;
        font-size: 14px;
        margin: 0;
    }

.widget-icon {
    display: flex;
    width: 30%;
    display: flex;
    align-items: center;
}

.widget-contributions-title {
    color: #94c12d !important;
}

.widget-exceptions-title {
    color: #ff4c4c !important;
}

.widget-unapprovedArticles-title {
    color: #8000FF !important;
}

.widget-students-title {
    color: #ff0065 !important;
}

.widget-contributors-title {
    color: #ffa500 !important;
}

.widget-faculties-title {
    color: #905424 !important;
}

.chart-name {
    text-align: center;
    color: #464646;
    font-size: 30px;
}

.sorting-items {
    display: flex;
    justify-content: center;
    /*justify-content:space-between;*/
    /*padding: 0 200px;*/
}

.sorting-items-container > a {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: max-content;
    height: 24px;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 0 3px #3232FF, 0 0 5px #3232FF;
    color: white;
    background-color: rgba(45,45,255,0.7);
    transition: transform 0.3s;
}

    .sorting-items-container > a:hover {
        box-shadow: 0 0 3px #3232FF, 0 0 5px #3232FF,0 0 10px #3232FF,0 0 15px #3232FF,0 0 20px #3232FF;
        background-color: rgba(45,45,255,1);
        transform: scale(1.1);
    }

    .sorting-items-container > a > h4 {
        width: fit-content;
    }

    .sorting-items-container > a > img {
        margin-right: 10px;
    }
.home{
    display:none;
}
/*Reponsive*/
@media (max-width:900px) {
    .dashboard-sidebar{
        display:none;
    }
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        background-color: #e3e3e3;
    }
    .dashboard-header {
        grid-area: 1 / 1 / 2 / 3 ;
    }
    .div4 {
        grid-area: 2 / 1 / 3 / 2 ;
    }
    .exception-doughnut-container {
        grid-area: 2 / 2 / 3 / 3 ;
    }
    .div2 {
        grid-area: 3 / 1 / 4 / 3 ;
    }
    .div5 {
        grid-area: 4 / 1 / 5 / 3;
    }
    .div6 {
        grid-area: 5 / 1 / 6 / 3;
    }
    .div8 {
        grid-area: 6 / 1 / 7 / 2;
    }
    .div10 {
        grid-area: 6 / 2 / 7 / 3;
    }
    .div9 {
        grid-area: 7 / 1 / 8 / 3;
    }

}