@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<partial name="_Notification" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenwichUniversityMagazine</title>

    <link rel="stylesheet" href="~/css/mainLayout.css" asp-append-version="true" />

</head>
<body>
    <header>
        <img src="~/img/Layout/logo.png" alt="Greenwich University Logo" class="logo">
        <div class="nav-container">
            <nav>
                <a asp-area="Student" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="Student" asp-controller="Home" asp-action="Index">News</a>
                <a href="#">Events</a>
                <a asp-area="Student" asp-controller="Home" asp-action="About">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        <div class="nav-container">
        @{
            var userId = Accessor.HttpContext.Session.GetString("UserId");
            if (userId == null)
            {
                <a asp-area="Student" asp-controller="Home" asp-action="Register" >Sign Up</a>
                <a asp-area="Student" asp-controller="Home" asp-action="Login" >Sign In</a>
            }
            else
            {
                var userEmail = Accessor.HttpContext.Session.GetString("UserEmail");
                    <a>@userEmail</a>
                <a asp-area="Student" asp-controller="Home" asp-action="Logout">Logout</a>
            }
        }
        </div>
        <div class="user-logo">
            <img src="~/img/Layout/user-logo.png" alt="User Logo">
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Greenwich University Forum. All rights reserved.</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
