@model UserVM
<link rel="stylesheet" href="~/css/User/Delete.css" />
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <div class="border p-3 mt-4">
                <div class="form-group row">
                    <label asp-for="User.Email" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input asp-for="User.Email" class="form-control" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="User.Name" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input asp-for="User.Name" class="form-control" />
                            <span asp-validation-for="User.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="User.Password" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input asp-for="User.Password" class="form-control" />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="User.Code" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input asp-for="User.Code" class="form-control" />
                            <span asp-validation-for="User.Code" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="User.DateOfBirth" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input asp-for="User.DateOfBirth" class="form-control" type="date" />
                            <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="User.Status" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <select asp-for="User.Status" class="form-select form-control">
                                <option value="True">Verify</option>
                                <option value="False">Unverify</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="User.Role" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <select asp-for="User.Role" class="form-select form-control">
                                <option value="COORDINATE">COORDINATE</option>
                                <option value="MANAGER">MANAGER</option>
                                <option value="STUDENT">STUDENT</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="User.FacultyId" class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <select asp-for="@Model.User.FacultyId" asp-items="@Model.MyFaculties" class="form-select form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label p-0"></label>
                    <div class="col-sm-10">
                        <div class="form-floating py-2">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>