body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    min-height:100vh;
    position:relative;
}
#header-main {
    background-color: #01013e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    font-family: "Arial", sans-serif !important;
    height: 80px !important;
    max-height: 80px !important;
    position: sticky;
    top: 0px;
    z-index: 3;
    line-height:24px;
}
#header-main > a{
    height:65px;
    margin-left:30px;
}

/*header {
    
    height: 100px !important;
    max-height: 100px !important
    
}
*/



.logo {
        width: 250px;  
        height: auto;  
    }

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    nav> a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 18px;
        position: relative;
    }

.user-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Làm cho hình tròn */
    overflow: hidden; /* Đảm bảo hình ảnh bị cắt theo hình tròn */
    /*border: 2px solid #ffffff;*/
    cursor: pointer;
    background: white;
}

    .user-logo > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi cắt theo hình tròn */
    }

main {
    padding: 0px !important;
}

footer {
    color: #ffffff;
    bottom: 0 !important;
    width: 100%;
}

.container {
}

/*.notification_container {
    position: relative;
    display: block;
    width: 28px;
    margin: auto 0;
    overflow: hidden;
    padding-right: 20px;
}*/

/*.notification_icon {
    position: relative;
    top: 4px;
    z-index: 1;
    font-size: 24px;
    color: white;
    cursor: pointer;
}*/

/*.notification_count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #d60b28;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}*/

.notification_button {
    background-color: transparent;
    border: none;
    height:50px;
    width:50px;
    padding:0;
    cursor:pointer;
}

.notification_list_container {
    position: absolute;
    width: 500px;
    top: 70px;
    right: 20px;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    background-color: #272790;
    z-index: 2;
}

.notification_list_child {
    max-width: 100%;
    text-decoration: none;
}
/*
.notification_detail_container {
    border: 1px solid transparent;
    margin-bottom: 10px;
    height: 75px;
    background-color: #272790;
    padding: 10px;
    border-radius: 10px;
}

    .notification_detail_container:hover {
        background-color: #3c3c9e;
    }*/

.notification_title,
.notification_description,
.notification_timeUpdate {
    color: white;
    font-size: 13px; /* Set font size for consistency */
    padding: 0;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.notification_description {
    font-size: 12px;
}

.notification_timeUpdate {
    font-size: 11px;
}


.notification_detail_wrapper {
    padding-top: 10px;
    display: flex;
}

.notification-detail_description {
    max-width: 75%;
    margin-left: 10px;
}

.notification_heading {
    margin: 5px;
}
.notificationbody {
    max-height:500px;
    overflow-y: auto;
}

    .notificationbody::-webkit-scrollbar {
        width: 8px;
    }

    .notificationbody::-webkit-scrollbar-track {
        background-color: #4444c3;
        border-radius: 4px;
    }

    .notificationbody::-webkit-scrollbar-thumb {
        background: #5a5ad6;
        border-radius: 4px;
    }

        .notificationbody::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
/*body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}*/

/*header {
    background-color: #01013e;
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}*/

/*.nav-container {
    padding-left: 100px;
    flex-grow: 2;
}*/

/*header img.logo {
    width: 250px;*/ /* Điều chỉnh kích thước của logo */
    /*height: auto;*/ /* Đảm bảo tỷ lệ khung hình đúng */

/*}*/
/*
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    nav a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 18px;
        position: relative;
    }*/

/*.user-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;*/ /* Làm cho hình tròn */
    /*overflow: hidden;*/ /* Đảm bảo hình ảnh bị cắt theo hình tròn */
    /*border: 2px solid #ffffff;
}

    .user-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;*/ /* Đảm bảo hình ảnh không bị méo khi cắt theo hình tròn */
    /*}*

main {
    padding: 20px;
}

/*footer {
    background-color: #01013e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;*/
    /*position: fixed;*/
    /*bottom: 0;
    width: 100%;
}*/

.container {
}

.notification_container {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin-right:20px;
}

.notification_icon {
    z-index: 1;
    vertical-align: middle;
}

.notification_count {
    position: absolute;
    top: 10%;
    right: 15%;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #d60b28;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/*.notification_button {
    background-color: transparent;
    border: none;
}*/

.notification_list_container {
    position: absolute;
    width: 500px;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    background-color: #272790;
}

.notification_list_child {
    max-width: 100%;
    text-decoration: none;
}

.notification_detail_container {
    border: 1px dashed #A9A9A9;
    margin-bottom: 10px;
    height: 120px;
    max-height: 120px;
    background-color: #272790;
    padding: 10px;
    border-radius: 10px;
}

    .notification_detail_container:hover {
        background-color: #3c3c9e;
        border-color: #272790;
    }

/*.notification_title,
.notification_description,
.notification_timeUpdate {
    color: white;
    font-size: 13px;*/ /* Set font size for consistency */
    /*max-width: 100%;*/ /* Set maximum width to ensure text doesn't overflow */
    /*overflow: hidden;*/ /* Hide any overflowing text */
    /*text-overflow: ellipsis;*/ /* Add ellipsis (...) for text that overflows */
    /*padding: 0;
    margin: 0;
}*/

.notification_description {
    font-size: 12px;
}

.notification_timeUpdate {
    font-size: 11px;
}

/*.notification_viewMore {
    text-decoration: none;
}

.notification_viewMore_heading:hover {
    background-color: #5a5ad6;
}

.notification_viewMore_heading {
    color: white;
    background-color: #4444c3;
    line-height: 30px;
    font-size: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
}*/

.notification_detail_wrapper {
    padding-top: 10px;
    display: flex;
}

.notification-detail_description {
    max-width: 75%;
    margin-left: 10px;
}

.notification_heading {
    text-align:center;
}

.logned_bar {
    display: flex;
    justify-content:center;
    align-items:center;
    width:250px;
    height:80px;
}


/* Dropdown Button */
.dropbtn {
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    background: none !important;
    color: inherit;
    border: 2px solid transparent;
    cursor: pointer;
    outline: 2px solid #1da1f2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    height:100%;
    align-content:center;
    width:54px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #1f1f1f;
    min-width: 300px;
    z-index: 2;
    border-radius: 5%;
    overflow: hidden;
    margin-top:8px;
    margin-right:-40px;
}

.black-header {
    width: 100%;
    height: 80px;
    background-color: #272790;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%; /* Làm cho hình tròn */
    overflow: hidden; /* Đảm bảo hình ảnh bị cắt theo hình tròn */
    border: 4px solid #1f1f1f;
    position: absolute;
    top: 50%;
}

    .user-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.dropdown-content-header {
    padding-top: 30px;
    text-align: center;
}

    .dropdown-content-header h4 {
        margin: 0;
        padding-top: 10px;
    }

.dropdown-content-fullname {
    font-size: 15px;
}

.dropdown-content-email {
    font-size: 12px;
}

.dropdown-content-child {
    display: inline-block;
}

    .dropdown-content-child > img {
        display: inline-block;
        vertical-align: middle;
    }

    .dropdown-content-child h4 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding-left: 10px;
        color: white;
        font-size: 12px;
    }

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #1f1f1f;
}

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #3c3c9e;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.login-button-container {
    margin-right: 30px;
    width:250px;
}

.login-button-container a {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 13px;
}




.register-button {
    margin-left: 30%;
    background-color: #f03e62;
}

    .register-button:hover {
        background-color: #fc5677;
    }

.login-button {
    
    background-color: #03aa6d;
}

    .login-button:hover {
        background-color: #16c988;
    }


#button-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px; /* Đặt khoảng cách từ dưới cùng của trang */
    right: 20px; /* Đặt khoảng cách từ phải cùng của trang */
    background-color: #3232FF;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    padding: 0px;
}
.icon-scroll-top {
    filter: invert(99%) sepia(0%) saturate(232%) hue-rotate(19deg) brightness(108%) contrast(101%);
}
#button-scroll-top:hover .icon-scroll-top {
    filter: invert(0%) sepia(100%) saturate(7447%) hue-rotate(238deg) brightness(120%) contrast(102%);
}
#button-scroll-top:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
}


/*
    FOOTER CSS START
*/

html,
body {
    padding: 0;
    margin: 0;
}

.footer-root {
    background-color: #000052;
    padding: 64px 198px;
}

.footer-top-side {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    text-align: left;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

    .div1 > img {
        width: 80%;
    }

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.div6 {
    grid-area: 1 / 6 / 2 / 7;
}

.footer-bottom-side {
    padding: 24px 0px 0px;
    display: flex;
    border-top: 1px solid white;
    text-align:left;
}

.footer-left-side {
    color: white;
    width: 80%;
}

    .footer-left-side > h4 {
        margin: 0;
        font-size: 16px;
        font-weight:100;
    }

.footer-right-side {
    width: 20%;
    display: flex;
    justify-content: space-between;
    height: 32px;
    margin-top: auto;
}

    .footer-right-side > a > img {
        width: 32px;
    }
        .footer-right-side > a > img:hover {
            filter: invert(20%);
        }

/*
    FOOTER CSS END
*/