.table-responsive {
    overflow-x: auto;
}

/* Add your custom styles here */

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #dee2e6; /* Increase border width for cells */
    padding: 8px; /* Adjust padding for cells */
}

thead th {
    background-color: #343a40;
    color: #fff;
}

tbody tr:hover {
    background-color: #f8f9fa;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    height: 100%; /* Set the height to match the image height */
}

.btn-primary,
.btn-danger {
    width: 80px;
}
.modal-dialog.modal-dialog-centered.modal-lg {
    max-width: 80%;
    margin: 1.75rem auto;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Add your custom styles here */
